@import url(https://fonts.googleapis.com/css?family=Lato:400,700);

h1{
    color: white;
    position: relative;
}

canvas {
    background-color: #111;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.music{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

#start-game{
    position: relative;
    background: #CC231E;
    border-color: #CC231E !important;
    color: #ffffff !important;
    font-weight: 700;
    border-radius: .5em;
    font-size: 20px;
    padding: 5px;
    
}

#select-music{
    position: relative;
    background: #CC231E;
    border-color: #CC231E;
    color: #ffffff;
    font-weight: 700;
    border-radius: .5em;
    font-size: 20px;
    padding: 5px;
    width: 85%;
    margin-bottom: 10px;
}

.canva-text{
    color: white;
    position: relative;
    font-family: 'Lato';
    margin-bottom: 10px;
}

#music-gif {
    position: relative;
    border: white;
    width: 80%;
    padding-bottom: 15px;
    max-width: 800px;
    margin: auto;
}